<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Candy Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">



</head>
<body ng-app="candyBlog" ng-controller="MainController">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Code Candy</a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">HOME</a></li>
            <li><a href="#">+ NEW BLOG</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <ui-view></ui-view>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>   
    <script src="/javascripts/angular.js"></script>



    <script type="text/ng-template" id="/welcome.html">

        <header class="intro-header" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://wallpapers111.com/wp-content/uploads/2015/01/beautiful-mountain-view.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>My First MEAN Stack Blog</h1>
                            <hr class="small">
                            <span class="subheading">A sexy looking blog built with Angular, Node, MongoDB and Express</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <div ng-repeat="blog in blogs | orderBy: '-recommends'">

                        <div class="blog-preview">

                            <div>
                                <img class="preview-image" ng-src="{{ blog.imageurl }}" alt="">
                            </div>

                            <a href="#/blogs/{{$index}}">
                                <h2 class="blog-title">
                                {{ blog.title | capitalize }}
                                </h2>
                                <h3 class="blog-subtitle">
                                    {{ blog.subtitle | capitalize }}
                                </h3>
                            </a>
                            <p class="blog-meta">{{ blog.readtime }} min read  |  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by {{ blog.recommends }} readers  |  Recommend this article: <span ng-click="increaseRecommends(blog)" class="glyphicon glyphicon-heart" aria-hidden="true"></span> </p>
                        </div>
                        <hr>

                    </div>

                    <div class="blog-preview">

                        <form ng-submit="createBlog()">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" ng-model="title" class="form-control" id="exampleInputEmail1" placeholder="Enter blog title">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Subtitle</label>
                            <input type="text" ng-model="subtitle" class="form-control" id="exampleInputPassword1" placeholder="Enter blog subtitle">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Blog Image URL</label>
                            <input type="text" ng-model="imageurl" class="form-control" id="exampleInputPassword1" placeholder="Enter an image URL">             
                          </div>                         
                          <div class="form-group">
                            <label for="exampleInputPassword1">Estimate Reading Time</label>
                            <input type="number" ng-model="readtime" class="form-control" id="exampleInputPassword1" placeholder="How long to read this blog?"> 
                            <p>Dummy URL: https://farm4.staticflickr.com/3926/14507026955_b140f22369_s.jpg</p>            
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Content</label>
                            <textarea class="form-control" ng-model="content" rows="6" id="exampleInputPassword1" placeholder="Enter your blog content"></textarea>
                          </div>

                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

    </script>

    


    <script type="text/ng-template" id="/blogs.html">

        <header class="intro-header" style="background: url({{blog.imageurl}}), linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), no-repeat center center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>{{blog.title}}</h1>
                            <hr class="small">
                            <span class="subheading">{{blog.subtitle}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                    <div class="blog-preview">

                        <p>{{blog.content}}</p>

                    </div>

                </div>
            </div>
        </div>

    </script>









</body>
</html>
